.sidebar {
  background-color: var(--white) !important;
  box-shadow: var(--box-shadow-light);
}

.navLink {
  color: var(--dark-medium) !important;
  margin-top: 0.5rem;
}

.active {
  background-color: #7d736a !important;
  color: var(--white) !important;
}

.navLink:hover {
  background-color: #f5f5f5 !important;
}

.active:hover {
  background-color: #7d736a !important;
  color: var(--white) !important;
}
